@media (max-width: 1400.98px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 1279.98px) {
  .hero__content h1 {
    font-size: 150px;
    line-height: 120px;
  }

  .hero__bottom-left h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .event__content h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .hero__bottom-right h3 {
    font-size: 26px;
    line-height: 32px;
  }

  .event__content h3 {
    font-size: 20px;
    line-height: 26px;
  }

  .section-heading {
    font-size: 36px;
    line-height: 40px;
  }

  .initiative__items {
    margin-top: 80px;
    gap: 50px;
  }

  .initiative__card {
    max-width: 180px;
    margin-bottom: 80px;
  }

  .initiative__item2 .initiative__card {
    margin-bottom: 100px;
  }

  .initiative__card h3 {
    font-size: 26px;
  }

  .initiative__item2 {
    padding-top: 70px;
  }

  .initiative__item4 {
    padding-top: 40px;
  }

  .initiative__item {
    flex: 1;
  }

  .hero__bottom {
    gap: 80px;
  }

  .confirm__form-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .confirm__form-main {
    max-width: 800px;
  }

  .confirm__items,
  .confirm__item,
  .event__content {
    flex-direction: column;
  }

  .event__content {
    gap: 40px;
    align-items: center;
  }

  .event__content h2 {
    text-align: center;
  }

  .footer__main {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .footer__logo {
    height: 220px;
  }

  .navbar__toggler {
    display: block;
  }

  .nav__supporters {
    position: absolute;
    top: 4px;
    right: 100px;
  }

  .nav__left,
  .nav__links {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__left {
    gap: 50px;
    width: 100%;
  }

  .nav__links {
    gap: 30px;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
  }

  .nav__link {
    font-size: 20px;
  }

  .header {
    transition: background-color 0.25s ease;
    -webkit-transition: background-color 0.25s ease;
    -moz-transition: background-color 0.25s ease;
    -ms-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
  }

  .is-mobile {
    background: #000;
  }

  .is-mobile .nav__links {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
}

@media (max-width: 991.98px) {
  .hero__content h1 {
    font-size: 140px;
    line-height: 110px;
  }

  .hero__bottom {
    padding-right: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 40px 0;
  }

  .initiative__items {
    gap: 20px;
  }

  .initiative__card {
    max-width: 150px;
  }

  .initiative__card h3 {
    font-size: 18px;
    padding: 3px 6px;
  }

  .confirm__items {
    gap: 70px;
  }

  .footer__logo {
    height: 180px;
  }

  .footer__contact,
  .footer__contact-items,
  .footer__right-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .marquee-track {
    font-size: 20px;
  }

  .marquee {
    padding: 18px 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 25px;
  }

  .header .container {
    padding: 0 16px;
  }

  .hero__content h1 {
    font-size: 60px;
    line-height: 58px;
  }

  .hero__content {
    padding-top: 60px;
  }

  .hero__bottom-left h2,
  .section-heading {
    font-size: 30px;
    line-height: 34px;
  }

  .hero__bottom-right h3 {
    font-size: 20px;
    line-height: 28px;
  }

  .initiative__items {
    flex-direction: column;
  }

  .initiative__item {
    border-left: 0;
    padding-left: 0;
  }

  .initiative__card {
    max-width: 100%;
  }

  .initiative__card img {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .initiative__card h3 {
    font-size: 26px;
    padding: 0 8px;
  }

  .initiative__item {
    padding-top: 0;
  }

  .initiative__items {
    gap: 80px;
  }

  .initiative__card--reverse {
    flex-direction: column;
  }

  .initiative__item2 .initiative__card {
    margin-bottom: 80px;
  }

  .confirm__form {
    margin-top: 70px;
  }

  .confirm {
    padding-top: 100px;
  }

  .confirm__form h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .input-style,
  .checkbox-text {
    font-size: 18px;
  }

  .confirm__item p,
  .confirm__item h4 {
    font-size: 22px;
    line-height: 28px;
  }

  .event__content h2 {
    font-size: 30px;
    line-height: 36px;
  }

  .footer__logo {
    height: 150px;
  }

  .footer__contact-item h2,
  .footer__contact-item a {
    font-size: 20px;
    word-break: break-word;
  }

  .footer__partner-social {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .marquee {
    padding: 16px 0;
  }

  .marquee-track {
    font-size: 18px;
  }

  .hero__object {
    top: -390px;
    left: 0;
  }

  .nav__logo {
    height: 26px;
  }

  .nav__supporter {
    height: clamp(10px, 6vw, 25px);
  }

  .nav__supporters {
    gap: 16px;
  }

  .navbar__toggler {
    top: 3px;
  }

  .nav__supporters {
    top: 0px;
    right: 34px;
  }

  .nav__link {
    font-size: 18px;
  }
}
